{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Upload Image
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center text-primary">Upload Image</h2>

    {% if form.errors and form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="{% url 'app_spendings:upload' spending.id %}" method="post" enctype="multipart/form-data" class="border p-4 rounded shadow-sm bg-light">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.description.id_for_label }}" class="form-label fw-bold">Image Description</label>
                    {{ form.description }}
                    <div class="form-text">Provide a short description for the image</div>
                    <span class="text-danger">{{ form.errors.description }}</span>
                </div>
                <div class="mb-3">
                    <label for="{{ form.path.id_for_label }}" class="form-label fw-bold">Upload Image</label>
                    {{ form.image }}
                    <span class="text-danger">{{ form.errors.path }}</span>
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-upload"></i> Submit
                    </button>
                    <a href="{% url 'app_spendings:spendings' spending.section.id %}" class="btn btn-secondary">
                        <i class="fas fa-times"></i> Back
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
